<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      LOJA
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
    
      <ion-card color ="medium" >
        <ion-card-header >
        <ion-card-title>Os melhores produtos, com tecnelogia do futuro!</ion-card-title>
        </ion-card-header>
         
      </ion-card>
  
  <ion-card *ngFor= "let itens of listaProdutos" color ="medium">
    <ion-card-header color ="primary">
    <ion-card-title>{{itens.nome}}</ion-card-title>
    
    </ion-card-header>
     <ion-card-content>
    
      <img [src]="itens.img">

      <!--<ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <h1>Slide 1</h1>
          </ion-slide>
          <ion-slide>
            <h1>Slide 2</h1>
          </ion-slide>
          <ion-slide>
            <h1>Slide 3</h1>
          </ion-slide>
        </ion-slides>
      -->
      
      <ion-button color = "danger" expand="block" fill="solid" (click) = "addCarrinhoToast(itens)">
          Adicionar    
      </ion-button>
   
      
    </ion-card-content>
  </ion-card>

  
</ion-content>
