<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>

      <ion-thumbnail slot="start">
        <img src="https://hermemboys.files.wordpress.com/2016/04/nike-air-mag-e1404400240800.jpg?w=864">
      </ion-thumbnail>

      <ion-label>Nike Air Mag</ion-label>        

        <ion-badge slot="end" color="dark">R$ 10.000,00</ion-badge>
              
    </ion-item>
  </ion-list>


  
  <ion-footer>
    
     
          <ion-button expand="block" fill="outline" href="">
            Finalizar Compra
            <ion-icon slot="end" name="basket"></ion-icon>
          </ion-button>

     
  
  </ion-footer>

 

</ion-content>
